@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik-Italic-Light";
    src: url("../fonts/rubik/Rubik-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "SpaceMonoRegular";
    src: url("../fonts/spaceMono/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "SF-Mono";
    src: url("../fonts/sf-mono/SFMonoRegular.otf");
}

@font-face {
    font-family: "SF-Mono-Italic";
    src: url("../fonts/sf-mono/SFMonoLightItalic.otf");
}

body {
    background: #4e3620;
    margin: 0;
    color: #f8f4e1;
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-shadow: 1px 2px 2px black;
    text-align: center;
    font-size: 68px;
    padding: 0;
    text-transform: uppercase;
    margin: auto;
}

h2 {
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 48px;
}

h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

h4 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400px;
    font-family: 'Rubik', sans-serif;
}

#section-about,
#section-skills,
#section-experience,
#section-contact {
    min-height: 100vh;
    margin: auto;
    padding: 5vh 15vh;
}

#section-contact {
    min-height: 70vh;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}

.navbar-menu {
    display: flex;
    background-color: #4e3620;
    justify-content: center;
    box-shadow: 0px 10px 10px black;
    display: none;
    position: relative;
}

@keyframes desapNavbar {
    0% {
        top: 0;
    }
    100% {
        top: -200px;
    }
}

@keyframes apNavbar {
    0% {
        top: -200px;
    }
    100% {
        top: 0;
    }
}

.navbar-menu-sections {
    display: flex;
    justify-content: space-around;
}

.navbar-menu-sections-element {
    display: flex;
    margin: auto 3vh;
}

.navbar-menu-sections-element p {
    color: #4e3620;
    background: #f8f4e1;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 10px 10px black;
    font-family: 'Oswald';
    font-size: 25px;
    padding: 1vh 2vh;
    margin: auto 1.5vh;
}

.navbar-menu-sections-element-button {
    border-radius: 50%;
    padding: 2.5vh;
    background: #00917c;
    margin: auto;
    box-shadow: 0px 10px 10px black;
}

.navbar-menu-sections-element-button:hover {
    background: #025955;
}

.navbar-menu-machine {
    background: #000;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 16vh;
    margin: 1.5vh 5vh;
}

.navbar-menu-machine-name {
    height: 20%;
    width: 100%;
    background: #897853;
    border-radius: 20px;
    margin: 5% auto;
}

.navbar-menu-machine-name h5 {
    font-family: 'Oswald', sans-serif;
    margin: auto;
    font-size: 8px;
}

.navbar-menu-machine-container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.navbar-menu-machine-container-buttom {
    border-left: 1.5vh solid #00917c;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
    margin: auto;
    cursor: pointer;
}

.navbar-menu-machine-container-changeLeft {
    transform: rotate(180deg);
}

.navbar-menu-machine-container-coffee {
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/cafes/cafe-solo.png");
    background-size: 50%;
    margin: auto;
    cursor: pointer;
}

.navbar-hidden {
    display: flex;
    padding-top: 1vh;
}

.navbar-hidden__button {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background-image: url("../img/cafes/cafe-solo.png");
    background-color: #00917c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4.5vh;
    display: flex;
    margin: auto;
    box-shadow: 0px 10px 10px black;
    cursor: pointer;
    opacity: 0;
    display: none;
}

.navbar-hidden__button:hover {
    background-color: #025955;
    width: 7.5vh;
    height: 7.5vh;
    transition: 0.5s;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes aparecerImage {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes aparecerImage2 {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparecerHead {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY();
    }
}

@keyframes aparecerText {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes desaparecerText {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


/*HEADER*/


/*-----------------------------------*/

#section-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
    overflow: hidden;
    box-shadow: 20px 30px 30px black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: -100;
}

#header-video {
    width: 100vw;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    position: relative;
    top: -80vh;
}

.header-content {
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 1000;
}

.header-content h1 {
    font-family: "SF-Mono", sans-serif;
}

.header-content h2 {
    font-family: "SF-Mono-Italic", sans-serif;
    font-size: 24px;
}


/*ABOUT*/


/*------------------------------------------*/

#section-about {
    background: #f8f4e1;
    margin: 100vh auto auto auto;
    display: flex;
    padding: 5vh 30vh;
    justify-content: space-around;
}

.section-about__img {
    margin: auto;
}

.section-about__img img {
    height: 70vh;
    opacity: 0;
}

.section-about__text {
    margin: auto;
    width: 50%;
    padding: 5vh;
}

.section-about__text,
.section-about__text-principal {
    color: #4e3620;
}

.section-about__text-principal {
    width: 90%;
}

.section-about__text p,
.section-about__text h2 {
    text-align: left;
    opacity: 0;
}

.section-about__text-secondary {
    flex-direction: column;
    display: none;
}

.section-about__text-secondary p {
    margin: 1vh;
}

.section-about__text p b {
    cursor: pointer;
    color: #00917c;
}


/*TECNOLOGIA*/


/*------------------------------------------*/

#section-skills {
    background: #4e3620;
    display: flex;
}

.section-skills {
    height: 90%;
    margin: auto;
}

.section-skills h2 {
    opacity: 0;
}

.section-skills-image {
    margin: auto;
    transform: rotate(1deg);
}

.section-skills-image img {
    height: 80vh;
    opacity: 0;
}

.section-skills__container-skills {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

.section-skills__container-skills-principal {
    opacity: 0;
}

.section-skills__container-skills-secondary {
    opacity: 0;
    display: none;
}

.section-skills__container-skills-element {
    margin: 2vh auto;
}

.section-skills h3 {
    opacity: 0.7;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.section-skills__list-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.section-skills__list-skills p {
    margin: 2vh;
}

.section-skills__list-skills li {
    list-style: none;
}

.section-skills__container-skills li p {
    text-align: center;
}

.section-skills p b {
    cursor: pointer;
    color: #00917c;
    opacity: 0;
}


/*EXPERIENCE*/


/*------------------------------------------*/

#section-experience {
    background: #4e3620;
    display: flex;
    flex-direction: column;
}

#section-experience h2 {
    opacity: 0;
}

.section-experience-lifeline {
    display: grid;
    grid-template-columns: 1fr 10vh 1fr;
    grid-column-gap: 2vh;
    margin: auto;
}

.section-experience-lifeline-element {
    margin: auto;
    height: 8vh;
}

.section-experience-lifeline-element-main {
    height: 12vh;
    position: relative;
}

.section-experience-lifeline-Circule {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f8f4e1;
    margin: auto;
    box-shadow: 2px 3px 3px black;
}

.section-experience-lifeline-hugeCircule {
    width: 2.5vh;
    height: 2.5vh;
}

.section-experience-lifeline-tinyCircule {
    width: 1vh;
    height: 1vh;
}

.section-experience-lifeline-year,
.section-experience-lifeline-achieve {
    margin: auto;
    opacity: 0;
}

.section-experience-lifeline-achieve {
    width: 80%;
    position: relative;
}

.section-experience-lifeline-achieve-show {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section-experience-lifeline-achieve-show h5 {
    color: #00917c;
    cursor: pointer;
}

.section-experience-lifeline-achieve-hidden {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1vh 2vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #f8f4e1;
    opacity: 0;
    display: none;
    transform: translateX(-50%) translateY(-50%);
}

.section-experience-lifeline-achieve-hidden a,
.section-experience-lifeline-achieve-hidden h4 {
    color: #4e3620;
    text-align: center;
    padding: 0.5vh;
}

.section-experience-lifeline-achieve-hidden h4 {
    text-align: left;
    margin: auto 1vh;
}

@keyframes aparecerRect {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: max-content;
    }
}

@keyframes desaparecerRect {
    0% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 0%;
    }
}


/*CONTACTO*/


/*------------------------------------------*/

#section-contact {
    background: #f8f4e1;
    display: flex;
    flex-direction: column;
}

#section-contact h2,
#section-contact p {
    opacity: 0;
}

.section-contact_button {
    margin: 5vh auto;
    background: #025955;
    text-align: center;
    border-radius: 1vh;
    color: #f8f4e1;
    transition-duration: 0.45s;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px 5px 5px black;
    padding: 1.5vh;
    font-size: 2vh;
    opacity: 0;
}

.section-contact_button:hover {
    background-color: #00917c;
    color: #f8f4e1;
}

#section-contact p,
#section-contact h2 {
    color: #4e3620;
}

.section-contact_social a {
    text-align: center;
    color: #4e3620;
    text-decoration: none;
}

.section-contact_social {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.section-contact_social-element {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 32%;
    height: auto;
    padding: 5vh;
    opacity: 0;
}

.section-contact_social-element i {
    margin: auto;
    color: #4e3620;
}

.section-contact_social-element a {
    padding: 1vh;
}


/* FOOTER */


/*------------------------------------------*/

footer {
    padding: 10px;
    background: #4e3620;
}

.footer-solid {
    background: #f8f4e1;
    height: 0.5px;
}

footer p {
    opacity: 0.7;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}


/*COMECOCOS*/


/*------------------------------------------*/

.pacman-way {
    margin: auto;
    position: relative;
}

.section-experience-lifeline-CirculePacman {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pacman-holder {
    position: relative;
    margin: auto;
    z-index: 600;
    opacity: 0;
}

.pacman-container {
    /*BOCA*/
    display: block;
    width: 8vh;
    height: 8vh;
    transform: rotate(135deg);
    animation: bite 0.5s linear infinite;
}

.pacman-body {
    background-color: #f8f4e1;
    position: absolute;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    z-index: 600;
}

.pacman {
    position: absolute;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    clip: rect(0px, 4vh, 8vh, 0px);
    z-index: 602;
}

.pacman-mouth {
    position: absolute;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    clip: rect(0px, 8vh, 8vh, 4vh);
}

.pacman-mouth .pacman {
    background-color: #4e3620;
    transform: rotate(90deg);
    animation: munch 0.5s linear infinite;
    /* To fix a yellow border on pacman's mouth */
    border: 3px solid #4e3620;
}

@keyframes munch {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes bite {
    0% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

@keyframes move {
    0% {
        transform: scaleX(1);
        top: 0px;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 70vh;
        opacity: 0;
    }
}


/*RESPONSIBE*/


/*----------------------------------------------------------*/


/*------------------- 1800 ---------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:1800px) {
    .navbar-menu-sections-element {
        margin: auto 1vh;
    }
}


/*----------------------------------------------------------*/


/*------------------- 1440 ---------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:1440px) {
    #section-about {
        padding: 5vh 15vh;
    }
    .navbar-menu-sections-element p {
        font-size: 20px;
    }
}


/*----------------------------------------------------------*/


/*------------------ 1024 ----------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:1024px) {
    #section-about,
    #section-skills,
    #section-experience,
    #section-contact {
        padding: 5vh 10vh;
    }
    .navbar-menu {
        height: 14vh;
    }
    .navbar-menu-sections-element {
        padding: auto 2vh;
    }
    .navbar-menu-sections-element p {
        font-size: 18px;
        margin: auto 1vh;
    }
    .navbar-menu-sections-element-button {
        padding: 2.7vh;
    }
    .navbar-menu-machine {
        height: 10vh;
        width: 16vh;
        margin: 0.7vh;
        margin: auto;
    }
    .section-about__img img {
        height: 70vh;
        opacity: 0;
    }
    .section-skills-image img {
        height: 60vh;
        opacity: 0;
    }
}


/*----------------------------------------------------------*/


/*------------------ 900 -----------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:900px) {
    .navbar-menu-sections-element p {
        font-size: 16px;
        margin: auto 0.5vh;
    }
}


/*----------------------------------------------------------*/


/*------------------ 768 -----------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:768px) {
    #section-about,
    #section-skills,
    #section-experience,
    #section-contact {
        padding: 5vh;
    }
    h1 {
        font-size: 42px;
        width: 80%;
    }
    .header-content h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 12px;
    }
    a {
        font-size: 10px;
    }
    .navbar-menu {
        flex-direction: column;
        height: 20vh;
    }
    .navbar-menu-sections-element {
        margin: auto;
        padding: 1.5vh 2.5vh;
    }
    .navbar-menu-sections-element p {
        width: 12vh;
        margin: auto 1vh;
        padding: 0.2vh auto;
    }
    .navbar-menu-sections-element-button {
        padding: 3vh;
        margin: auto;
    }
    .navbar-menu-machine {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 13vh;
        width: 19vh;
    }
    .section-about__text p {
        margin: 0.5vh;
    }
    .section-about__text-principal {
        width: 100%;
    }
    #section-skills {
        flex-direction: column;
    }
    .section-skills__container-skills {
        flex-direction: row;
    }
    .section-skills__container-skills-element {
        margin: 0 5vh;
    }
    .section-skills-image img {
        height: 70vh;
        margin: 5vh auto auto auto;
    }
}


/*----------------------------------------------------------*/


/*------------------ 668 -----------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:668px) {
    #header-video {
        top: -20vh;
    }
    .navbar-menu-sections-element {
        margin: auto 12vh;
    }
    .section-contact_social {
        display: flex;
        flex-direction: column;
        margin: 2vh auto;
    }
    .section-contact_social-element {
        margin: 3vh auto;
        padding: 0;
    }
    .section-contact_social-element {
        width: 100%;
    }
}


/*----------------------------------------------------------*/


/*------------------ 561 -----------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:561px) {
    .navbar-menu-sections-element p {
        margin: 0 1vh;
        padding: 0.5vh auto;
        width: 12vh;
    }
    h1 {
        font-size: 42px;
        width: 80%;
    }
    .header-content h2 {
        font-size: 18px;
    }
    #section-about {
        flex-direction: column-reverse;
    }
    .section-about__text {
        width: auto;
        margin: auto;
        padding: 0 0 5vh 0;
    }
    .section-about__text h2 {
        text-align: center;
    }
    .section-contact_button {
        margin: 5vh auto;
    }
    .section-skills__container-skills-element {
        margin: 0 2.5vh;
    }
    #section-experience {
        padding: 5vh 0;
    }
    .section-experience-lifeline {
        grid-template-columns: 1fr 10vh 1fr;
    }
    .section-experience-lifeline-achieve {
        font-size: 12px;
        width: 80%;
    }
    .section-experience-lifeline-achieve-show h4 {
        font-size: 8px;
    }
}


/*----------------------------------------------------------*/


/*------------------ 426 -----------------------------------*/


/*----------------------------------------------------------*/

@media(max-width:426px) {
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 12px;
    }
    .navbar-menu {
        padding-bottom: 16vh;
    }
    .navbar-menu-sections-element {
        margin: auto;
        padding: 1vh 1.5vh;
    }
    .navbar-menu-sections-element p {
        margin: auto 1vh;
        padding: 0.5vh auto;
        width: 12vh;
    }
    .navbar-menu-machine {
        top: 16vh;
        height: 13vh;
        width: 22vh;
    }
    #header-video {
        top: 0;
    }
    .section-skills__container-skills {
        flex-direction: column;
    }
    .section-skills__container-skills-element {
        margin: 1vh auto;
    }
    .section-skills__container-skills-element p {
        margin: 1vh 5vh;
    }
    .section-skills-image img {
        height: 50vh;
        opacity: 0;
    }
    #section-experience {
        min-height: auto;
    }
    .section-experience-lifeline-achieve {
        font-size: 13px;
    }
    .section-experience-lifeline-achieve-hidden {
        padding: 0;
    }
    .section-experience-lifeline-achieve-hidden a {
        font-size: 8px;
    }
    .section-experience-lifeline-achieve-hidden h4 {
        text-align: center;
    }
}